#changeColor{
    h1, a, button{
        font-family: Lato, sans-serif;
    }
    .changecolor{
        width: 300px;
        height: auto;
        z-index: 777777777;
        border: 0.5px solid rgb(12, 131, 75);
        position: relative;
        padding: 20px;
        transition: all 0.6s linear;
        
        }
        h1{
            margin-top: -30px;
            font-size: 20px;
        }
        .colors>a,.navigationbar a{
            color: firebrick;
            font-size:17px;
            text-decoration: underline;
            color: gray;
            &:hover{
                text-decoration: none;
            }
             }
    .colors>h1,.navigationbar h1,.layout h1{
        color: rgb(41, 38, 38);
        font-weight: bold;
    }
    .colors,.layout,.navigationbar{
        width: 60%;
        padding: 30px 0px 0px 10px;
        }
    .colors>div{
        float: left;
        margin: 0px 0px 5px 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        }
        .color1{
        background:red;
            &:hover{
                margin-top: -1%;
            }
        }
        .color2{
        background: rgb(221, 59, 59);
            &:hover{
                margin-top: -1%;
            }
        }
        .color3{
        background: blue;
            &:hover{
                margin-top: -1%;
            }
        }
        .color4{
        background: rgb(69, 69, 196);
        }
        .color5{
        background: rgb(90, 13, 13);
         margin-top: 2%;
            &:hover{
                margin-top: -1%;
            }
        }
        .color6{
        background: yellow;
         margin-top: 2%;
            &:hover{
                margin-top: -1%;
            }
        }
        .color7{
        background: rgb(26, 56, 14);
         margin-top: 2%;
            &:hover{
                margin-top: -1%;
            }
        }
        .color8{
        background: rgb(90, 231, 65);
        margin-top: 2%;
            &:hover{
                margin-top: -1%;
            }
        }
    .layout{
        button{
            width: auto;
            height: 40px;
            font-size: 1.3em;
            text-align: center;
            outline: none;
            border: none;
            cursor: pointer;
            }
        button:nth-of-type(2){
            background: rgb(173, 168, 168);
            width: 50%;
            margin-top: 2%;
            border-radius: 5px;
            color: rgb(34, 28, 28);
            }
        button:nth-of-type(1){
            background: #5CB85C;
            color: white;
            width: 30%;
            border-radius: 5px;
            }
    } 
    .animate{
        width: 50px;
        height: 50px;
        background: white;
        position: absolute;
        top: -1px;
        left: 298px;
        border: 0.5px solid rgb(12, 131, 75);
        border-left: white;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        img{
            margin: 5px 0px 0px 5px;
            }
        }
        .changecolor{
        position: fixed;
        top:70px;
        left: -300px;
        z-index: 200;
        background: white;
        }     
}

@media only screen  and (max-width: 1000px) {
    .changecolor{
        display: none;
    }
}